<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>支付宝-支付确认</title>
    <script
            src="https://code.jquery.com/jquery-3.3.0.min.js"
            integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4="
            crossorigin="anonymous"></script>
</head>
<body>
支付金额：
<button onclick="pay()">确认支付</button>
</body>
<script th:inline="javascript">
    function pay() {
        var qrCode = [[${qrCode}]];
        alert(qrCode);
        $.post(qrCode);
    }
</script>
</html>